/*# camille stuff */
/*.btn-primary {
    color: #fff;
    background-color: #4e7b3a;
    border-color: #4e7b3a;
    box-shadow: 0 0 0 transparent;
}
*/
/*.custom-checkbox-primary .custom-control-input:checked ~ .custom-control-label::before, .custom-radio-primary .custom-control-input:checked ~ .custom-control-label::before, .custom-switch-primary .custom-control-input:checked ~ .custom-control-label::before {
	border-color: #fff;
    background-color: #fff;
}
*/
/* to change image -- this is temp */
.white_logo {
	max-width: 80%;
}

a.white {
	color: #fff;
}

/* look where the var is set*/
/*.rd-navbar-fixed .rd-navbar-panel, .rd-navbar-fixed .rd-navbar-sidebar {
    background: rgb(92 134 10) !important;
}*/

.breadcrumbs {
	font-size: .65rem;
}

.section-sm {
	padding: 30px 0;
}

.template-panel {
	display: none;
}

.topbar {
	padding: 10px !important;
}

/*ROB HERE*/
.logo img{
    height: 70px;
}

.logo {
    font-size: xx-large;
}

.logo2 img{
    height: 40px;
}

.logo2 {
    font-size: x-large;
}

html{
    --navbar-color:rgba( 255, 255, 255, 255 );--navbar-color-r:255;--navbar-color-g:255;--navbar-color-b:255;--navbar-color-h:0deg;--navbar-color-s:0%;--navbar-color-l:100%;--navbar-bg:rgba( 26, 31, 33, 255 );--navbar-bg-r:26;--navbar-bg-g:31;--navbar-bg-b:33;--navbar-bg-h:197.143deg;--navbar-bg-s:11.8644%;--navbar-bg-l:11.5686%;--navbar-hover-color:rgba( 255, 255, 255, 255 );--navbar-hover-color-r:255;--navbar-hover-color-g:255;--navbar-hover-color-b:255;--navbar-hover-color-h:0deg;--navbar-hover-color-s:0%;--navbar-hover-color-l:100%;--navbar-hover-bg:rgba( 237, 237, 237, 255 );--navbar-hover-bg-r:237;--navbar-hover-bg-g:237;--navbar-hover-bg-b:237;--navbar-hover-bg-h:0deg;--navbar-hover-bg-s:0%;--navbar-hover-bg-l:92.9412%;--navbar-title-color:rgba( 173, 181, 189, 255 );--navbar-title-color-r:173;--navbar-title-color-g:181;--navbar-title-color-b:189;--navbar-title-color-h:210deg;--navbar-title-color-s:10.8108%;--navbar-title-color-l:70.9804%;--navbar-panel-bg:rgba( 41, 217, 153, 255 );--navbar-panel-bg-r:41;--navbar-panel-bg-g:217;--navbar-panel-bg-b:153;--navbar-panel-bg-h:158.182deg;--navbar-panel-bg-s:69.8413%;--navbar-panel-bg-l:50.5882%;--navbar-brand-invert:0%;
}

.section-sm, .section-md, .section-lg {
    padding: 20px 0 !important;
}
